@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0070f3;
  --secondary-color: #1c1c1e;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --border-radius: 8px;
  --header-height: 72px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* color: inherit; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #666666;
  font-size: 0.875rem;
}
footer a {
  color: #0070f3;
  transition: color 0.3s;
}
footer a:hover {
  color: #005bb5;
}
